h1 {
  color: red;
}

#main {
  display: flex;
  gap: 20px;
}

.boardDiv {
  display: flex;
  flex-direction: column;
  height: 500px;
  width: 500px;
  border: 1px solid black;
}

.outerdiv {
  display: flex;
  flex: 1 1 20px;
}

.innerdiv {
  border: 1px solid black;
  display: flex;
  flex: 1 1 20px;
}

.gameOverDiv {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: hsla(0, 100%, 70%, 0.3);
  opacity: 50;
}
