body {
  margin-left: 20px;
}

h1 {
  color: hsl(0, 5%, 42%);
  font-size: 50px;
  font-family: "Times New Roman", Times, serif;
}

#header {
  display: flex;
  justify-content: center;
}

#footer {
  display: none;
  justify-content: center;
}

#main {
  display: flex;
  justify-content: center;
  gap: 30px;
}

//Gameboard
.boardNameDiv {
  height: 50px;
}

.boardDiv {
  display: flex;
  flex-direction: column;
  height: 580px;
  width: 500px;
}

.outerdiv {
  display: flex;
  flex: 1 1 20px;
}

.innerdiv {
  border: 1px solid black;
  display: flex;
  flex: 1 1 20px;
  align-items: center;
  justify-content: center;
}

.miss {
  background-color: rgb(204, 97, 97);
}

.hit {
  background-color: red;
}

#randomShips {
  background-image: linear-gradient(#f7f8fa, #e7e9ec);
  border-color: #adb1b8 #a2a6ac #8d9096;
  border-style: solid;
  border-width: 1px;
  border-radius: 3px;
  box-shadow: rgba(255, 255, 255, 0.6) 0 1px 0 inset;
  box-sizing: border-box;
  color: #0f1111;
  cursor: pointer;
  display: inline-block;
  font-family: "Amazon Ember", Arial, sans-serif;
  font-size: 14px;
  height: 30px;
  font-size: 13px;
  outline: 0;
  overflow: hidden;
  padding: 0 11px;
  text-align: center;
  text-decoration: none;
  text-overflow: ellipsis;
  user-select: none;
  -webkit-user-select: none;
  touch-action: manipulation;
  white-space: nowrap;
  :hover {
    border-color: #a2a6ac #979aa1 #82858a;
  }
  :active {
    border-bottom-color: #a2a6ac;
  }
  :active:hover {
    border-bottom-color: #a2a6ac;
  }
  :focus {
    border-color: #e77600;
    box-shadow: rgba(228, 121, 17, 0.5) 0 0 3px 2px;
    outline: 0;
  }
}

//draggable ships
.shipsContainerDiv {
  display: flex;
  flex-direction: column;
  gap: 20px;
  align-items: center;
  justify-content: center;
  border: 1px solid black;
  border-radius: 10px;
  margin: 60px 0px;
  padding: 20px;
  background: rgb(223, 213, 213);
}

[id="0"] {
  width: 100px;
  height: 20px;
  background-color: grey;
  border: 1px solid black;
}

[id="1"] {
  width: 80px;
  height: 20px;
  background-color: grey;
  border: 1px solid black;
}

[id="2"] {
  width: 60px;
  height: 20px;
  background-color: grey;
  border: 1px solid black;
}

[id="3"] {
  width: 60px;
  height: 20px;
  background-color: grey;
  border: 1px solid black;
}

[id="4"] {
  width: 40px;
  height: 20px;
  background-color: grey;
  border: 1px solid black;
}

.turnShip {
  transform: rotate(90deg);
}

.hoverGrid {
  background-color: gray;
}

.invalidGrid {
  background-color: red;
}

.dragging {
  border: 1px solid rgb(121, 26, 139);
}

.shiponBoard {
  background-color: black;
  border: 1px dotted white;
}

//End Game Screen
.gameOverDiv {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: hsla(189, 63%, 49%, 0.9);
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 50px;
}
